


<mat-grid-list cols="1" *ngIf="!heroesService.heroes.getValue(); else divHeroList">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>


<div *ngIf="heroesService.heroes.getValue().length === 0 ">
    <h1>No se ha encontrado nada con este argumento.</h1>
</div>


<ng-template #divHeroList>
  <div >
    <h1>Lista de Héroes</h1>
    <br/>

    <div>
      <h3>Buscar heroe:</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Héroe a buscar</mat-label>
        <input type="text"
             aria-label="Number"
             matInput
             [(ngModel)]="searchTerm"
             [matAutocomplete]="auto"
             (input)="search()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let hero of heroesService.heroesSearching$ | async" [value]="hero">
                  {{hero?.superhero}}
                </mat-option>
            </mat-autocomplete>
      </mat-form-field>
      <button mat-button color="info"  (click)="add()" [disabled]="authService.userLogin.getValue().rol != 'Admin'">
        Añadir
      </button>
      <span *ngIf="authService.userLogin.getValue().rol != 'Admin'" class="warning">* Para añadir tiene que ser 'Admin'</span>
    </div>


    <mat-divider></mat-divider>
    <br/>


    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.xs="column">

      <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let hero of heros | paginate: { itemsPerPage: 4, currentPage: currentPage, totalItems: heros.length }">

        <app-HeroTargetComponent
        [hero]="hero"
        (heroToEmit)="edit($event)"
        [isAdmin]="authService.userLogin.getValue().rol === 'Admin'">
      </app-HeroTargetComponent>
      </div>
    </div>

    <pagination-controls (pageChange)="currentPage = $event" *ngIf="heroesService.heroes.getValue().length > 0 "></pagination-controls>
  </div>


</ng-template>
