
 <strong>IMPORTANTE!! Para arrancar el backend</strong>


  Teniendo en cuenta que solo he podido dedicarle 4 dias de los dos ultimos fines de semana, y alguna que otra tarde entre semana,
  expongo los puntos que se han tratado en la prueba técnica:
  <ul>
    <li>Se ha completado la prueba técnica con casi todos los puntos expuestos en el documento.</li>
    <li>Se ha creado siguiendo la técnica de programación reactiva con la librería rxjs.</li>
    <li>Se ha añadido un control de usuarios, para que un administrador pueda gestionar el contenido y un usuario no.</li>
    <li>Se ha creado un Pipe específíco para el manejo de imagenes.</li>
    <li>Se ha hecho la prueba unitaria del componente que lista los heroes, no se ha hecho el test del servicio (He tenido poco tiempo para dedicarle al completo)</li>
  </ul>





