<mat-sidenav-container fullscreen>

 <mat-sidenav #sidenav mode="side">

  <mat-toolbar color="warn">

    <span>Menú</span>
    <span class="spacer"></span>

 </mat-toolbar>

 <mat-selection-list role="list" [multiple]="false">

   <mat-list-option routerLink="./list" (click)="sidenav.toggle()"><mat-icon mat-list-icon>view_list</mat-icon><span>Listado de héroes</span></mat-list-option>
   <mat-list-option routerLink="./about" (click)="sidenav.toggle()"><mat-icon mat-list-icon>error</mat-icon><span>About</span></mat-list-option>

 </mat-selection-list>


 </mat-sidenav>

  <mat-toolbar color="warn">

     <button mat-icon-button (click)="sidenav.toggle()">

       <mat-icon>menu</mat-icon>
     </button>

     <span class="spacer"></span>
     <span>{{userLogged.usuario}}</span>
     <span class="spacer"></span>
     <button mat-icon-button (click)="logout()">

       <mat-icon>logout</mat-icon>

     </button>
  </mat-toolbar>

 <div class="container">

   <router-outlet></router-outlet>
 </div>

</mat-sidenav-container>
